body {
    margin: 0;
    height: 100vh;
    color : rgb(0, 255, 0);
    font-family : monospace;
    line-height: 1;
    font-size: 10px;

}

canvas {
    display: block;
    opacity:1;
    z-index: 1;
    position: absolute;




}

#canvas {
    z-index: -1;
    opacity:0;
    position: absolute;

}


#container {
    position: relative;
}

#loadingtext {
    z-index: 1;
    line-height: 0;


}

#startButton{
    background-color: rgb(0, 0, 0); /* Green */
    border: none;
    color : rgb(0, 255, 0);
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family : monospace;
    transition-duration: 0.0s;

}
#startButton:hover {
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
}

.completed{
    color : green;
    position:relative;
    left: 203px;
}

.overriden{
    color : red;
    position:relative;
    left: 203px;

}
#socials {
    z-index: 2;
    /*float : right;*/
    opacity: 0;
    position: absolute;
    top: 0px;
    /*right: 8px;*/
}

#leftsocials {
    z-index: 2;
    float : left;
    position: static;
    top: 0px;
    left: 8px;
}

#rightsocials {
    z-index: 2;
    float : right;
    position: fixed;
    top: 8px;
    right: 8px;
}

#spotify {
    right: 16px;
}

#gestures {
    z-index:2;
    opacity:0.3;
    position:fixed;
    margin-left: -52px;
    top: 50%;
    left: 50%;
    pointer-events: none;
    /*margin-top: -50px;
    margin-left: 60px;*/

}

#drag{
    z-index: 3;
    /*position: absolute;
    top: 50%;
    left: 50%;*/
}

#pinch{
    z-index: 3;
    /*position: relative;
    top: 50%;
    left: 50%;*/
}

#pinchdrag{
    z-index: 3;

}

